<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/tweet">Home</a>
    <form action="/submit-tweet" method="POST">
        <input type="text" name="title" minlength="20" required>
        <textarea name="tweet" placeholder="write your tweet"    maxlength="50" required></textarea>
        <button>submit</button>
    </form>
</body>
</html>